{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": ["transform-decorators-legacy", "transform-decorators", "transform-object-rest-spread", "transform-class-properties"]
}
